<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Material Design for Bootstrap</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="css/mdb.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <!--Main Navigation-->
    <header>
      <!-- Sidebar -->
      <nav id="sidebarMenu">

        <div class="list-group list-group-flush mx-3 mt-4">
          <!-- Collapse 1 -->
          <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true" data-mdb-toggle="collapse"
            href="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1">

          </a>
          <!-- Collapsed content -->
          <ul id="collapseExample1" class="collapse show list-group list-group-flush py-3">
            <li class="list-group-item py-1">
              <a href="" class="text-reset">Link</a>
            </li>
            <li class="list-group-item py-2">
              <a href="" class="text-reset">Link</a>
            </li>
            <li class="list-group-item py-2">
              <a href="" class="text-reset">Link</a>
            </li>
            <li class="list-group-item py-2">
              <a href="" class="text-reset">Link</a>
            </li>
          </ul>
          
        </div>
      </nav>
      <!-- Sidebar -->

      <!-- Navbar -->
      <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="d-flex align-items-center">
            <h3 class="text-info">Student Information</h3> 
          </div>

          <!-- Brand -->

          <!-- Search form -->


          <!-- Right links -->
          <ul class="navbar-nav ms-auto d-flex flex-row">
            <div class="d-flex align-items-center">
              <a class="text-reset me-3" href="/logout">Logout</a>
            </div>
          </ul>
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 58px;">
      <div class="container pt-4"></div>
    </main>
    <!--Main layout-->
    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>

</html>